body{
	margin: 0;
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 0px;
	display: block;
	background-color: black;
}


a.navbar-brand{
	font-family: cursive;
	background-color: black;
}

.navbar-brand:hover{
	color: red;
}

ul.dropdown-menu{
	background-color: #47D1FF;
}

ul.dropdown-menu a:hover{
	background-color: #ADEBFF;
}


a.dropdown-toggle:hover{
	color: #ADEBFF;
}


img{
 	vertical-align: middle;
 	border: 0px;
 	position: relative;	
 }

h1{
	font-family: 'FranklinGothic';
	color: #757575;
	text-align: center;
}

h4{
	font-family: 'FranklinGothic';
	color: #757575;
	text-align: center;
}

p{
	color: #757575;
	padding-left: 10%;
}


li{
	font-family: 'FranklinGothic';
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
 }

.caption{
	font-size: 1000%;
	font-family: cursive;
}

.imageHolder{
	position: relative;
	border: 0px;
}

.imageHolder .caption{
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 2px 0px;
	color: white;
	background: black;
	text-align: center;
}

.imageHolder:hover .caption{
	opacity: .5;
	color: white;
}

.thumbnail{
 	display: block;
 	background-color: black;
 	padding: 4px;
 	margin-bottom: 20px;
 	border-radius: 1px;
 	transition: all .2s ease-in-out;
 	height: 300px;
 	width: 350px;
 }

 .thumbnail:hover{
 	display: block;
 	padding: 4px;
 	margin-bottom: 20px;
 	border-radius: 1px;
 	transition: all .2s ease-in-out;
 	height: 300px;
 	width: 350px;
 	border-color: green;
 }

 .thumbnailvegas1{
 	display: block;
 	background-color: black;
 	padding: 4px;
 	margin-bottom: 20px;
 	border-radius: 1px;
 	transition: all .2s ease-in-out;
 	height: 350px;
 	width: 100%;
 	border-color: green;
 }

 .thumbnailvegas2{
  	display: block;
 	background-color: black;
 	padding: 4px;
 	margin-bottom: 20px;
 	border-radius: 1px;
 	transition: all .2s ease-in-out;
 	height: 350px;
 	width: 350px;
  	border-color: green;
 }

 .thumbnailscot{
 	display: block;
 	background-color: black;
 	padding: 2px;
 	margin-bottom: 10px;
 	border-radius: 1px;
 	transition: all .2s ease-in-out;
 	height: 350px;
 	width: 100%;
}

img.modalimg{
	height: 100%;
	width: 100%;
}

 img:hover{
 	border: 2px solid #000000;
 	padding: 1px;
 }

.biopic{
	height: 250px;
	width: 150px;
	left: 40%;
}

.social{
	height: 50px;
	width: 50px;
	left:40%;
}
